<!DOCTYPE html>

{% load static %}
<head>
<title>e-health</title>
</head>
<body>
{% block content %}
 <h1>Authorized</h1>
 <h1>{{user.name}}</h1>
 <h1>{{user.mobile}}</h1>
 <a href="logout">logout</a>
 <form action="/doctor_index" method="POST">
 {% csrf_token %}
 <input name="phoneNumber" placeholder="Phone number" type="tel" required></br>
<input type="submit" value="get data">
</form>
<a href="/doctor/enter_patient_record"> Create new prescription</a>
{% for record in find_records %}
<h1> patient phone : {{ record.patient_name }} </h1>
{% endfor %} 
{% endblock %}
</body>
