<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctor Page</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/docstyle.css' %}">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="bg-color"></div>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <a class="navbar-brand" href="#"><img src="" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class=""><a href="#banner">Dr {{user.name }}</a></li>
                <li class=""><a href="/logout">Logout</a></li>
                <li class=""><a href="#about">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

  
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Doctor's Portal</h2>
          <hr class="botm-line">
        </div>
        <div>
            <h3 class="cnt-ttl">Find Patient's Record</h3>
            <div class="space"></div>
            <div id="errormessage"></div>
            <form action="/doctor_index" method="POST" role="form" class="contactForm">
                 {% csrf_token %}
              <div class="form-group">
                <input type="phonenumber" maxlength="10" class="form-control br-radius-zero" name="phoneNumber" id="email" placeholder="Patient Phone Number" data-rule="email" data-msg="Please enter a Phone Number" />
                <div class="validation"></div>
              </div>

              <div class="form-action">
               
                   
                    <input type="submit" name="action1" class="btn btn-form" value="Search Prescription"/>
                    <input type="submit" name="action2" class="btn btn-form" value="Create Prescription"/>
                    

              </div>
            </form>
          </div>
          {% comment %} <div class="form-action">
            <button id="createbtn"><a href="/doctor/enter_patient_record" style="text-decoration: none; color: #0cb8b6; text-shadow: black; font-weight: bold;">Create Prescription</a></button>
          </div> {% endcomment %}
        </div>
        
      </div>
  </section>

{% comment %} 
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Prescription</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
         {% for record in find_records%}
        <tr>
            <td>{{record.patient_name}}</td>
            <td>{{record.patient_age}}</td>
            <td>{{record.patient_gender}}</td>
            <td>{{record.prescription}}</td>
            {% comment %} <td>{{record.medicine}}</td> {% endcomment %}
            {% comment %} <td>{{record.created_at}}</td>
        </tr>
        {% endfor %}
        
        <tbody>
    </table>
</div> {% endcomment %} 


{% comment %} <head>
<title>e-health</title>
</head>
<body>
{% block content %}
 <h1>Authorized</h1>
 <h1>{{user.name}}</h1>
 <h1>{{user.mobile}}</h1>
 <a href="logout">logout</a>
 <form action="/doctor_index" method="POST">
 {% csrf_token %}
 <input name="phoneNumber" placeholder="Phone number" type="tel" required></br>
<input type="submit" value="get data">
</form>
<a href="/doctor/enter_patient_record"> Create new prescription</a>
{% for record in find_records %}
<h1> patient phone : {{ record.patient_name }} </h1>
{% endfor %} 
{% endblock %}
</body> {% endcomment %}
