
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prescription Page</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/presstyle.css' %}">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="bg-color"></div>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <a class="navbar-brand" href="#"><img src="" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class=""><a href="#banner">Dr.{{user.name}}</a></li>
                <li class=""><a href="/logout">Logout</a></li>
                <li class=""><a href="#about">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

  
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Doctor's Portal</h2>
          <hr class="botm-line">
        </div>
        <div>
            <h3 class="cnt-ttl">Add Prescription</h3>
            <div class="space"></div>
            <div id="errormessage"></div>
            <form action="/doctor/enter_patient_record" method="POST" role="form" class="contactForm">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="patient_name" class="form-control br-radius-zero" id="name" placeholder="Your Registered Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>  
        
                <div class="form-group">
                    <input type="text" maxlength="4" name="patient_age" class="form-control br-radius-zero" id="age" placeholder="Your Age" data-rule="minlen:1" data-msg="Please enter at least 1 chars" />
                    <div class="validation"></div>
                  </div>

                  <select name="patient_gender" class="form-group dropdown form-control br-radius-zero">
                    <option value="" placeholder="Gender" style="color:#979696">Gender</option>
                    <option value="male"style="color:#979696">Male</option>
                    <option value="female"style="color:#979696">Female</option>
                  </select>

                  <div class="form-group">
                    <input type="text" class="form-control br-radius-zero" name="doctor_fees" id="" placeholder="Doctor Fees" data-msg="Please enter amount." />
                    <div class="validation"></div>
                </div>

                <select name="payment_method" class="form-group dropdown form-control br-radius-zero">
                    <option value="" style="color:#979696">Payment Method</option>
                    <option value="Cash"style="color:#979696">Cash</option>
                    <option value="Card"style="color:#979696">Card</option>
                  </select>

                  <div class="form-group">
                    <textarea class="form-control br-radius-zero" name="prescription" rows="5" data-rule="required" data-msg="Please write something about patient's health" placeholder="Details and Prescription"></textarea>
                    <div class="validation"></div>
                  </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
  </section>

  
  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Creators : </h4>
            </div>
            <div class="info-sec">
              <p>Jeet Bangoria</p>
            </div>
            <div class="info-sec">
              <p>Harsh Kanani</p>
            </div>
            <div class="info-sec">
              <p>Gaurav Goverdhan</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="doctor_index"><i class="fa fa-circle"></i>Home</a></li>
                {% comment %} <li><a href="index1.html"><i class="fa fa-circle"></i>Login | SignUp</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li> {% endcomment %}
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            {% comment %} <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
              </ul>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
           Nationwide Synced Pharmaceutical Systems
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'contactform/contactform.js' %}"></script>
  

</body>

</html>





{% comment %} <!DOCTYPE html>

{% load static %}
<head>
<title>e-health</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <h1>Create health record</h1>
    <form action="/doctor/enter_patient_record" method="POST">
    {% csrf_token %}
    <input name="patient_name" placeholder="Patient name" type="text" required></br>
    <input name="patient_gender"placeholder="Patient gender" type="text" required></br>
    <input name="patient_age" placeholder="Patient Age" type="number" required></br>
    <input name="doctor_fees" placeholder="Doctor fees" type="number" required></br>
    <input name="payment_method" placeholder="payment method" type="text" required></br>
    <input name="prescription" placeholder="prescription" type="text" required></br>
    <input type="text" name="medicine" id="med" class="med" placeholder="medicine name" ></br> 
    <input type="submit" value="Submit data">
    </form>
</body> {% endcomment %}

